body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
label{
    font-weight: bold;
  }

  .userEntries, input, label {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .yearPick {
    width: 200px;
    height: 35px;
    font-size: 18px;
    padding: 5px;
  }
 .randomYearContainer {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
  }