//TODO: Sort color pallets for background and text

:root{

//primary color shades
--col-primary: #e6a628;
--col-primary-lightest: #ebb853;
--col-primary-light: #e9af3e;
--col-primary-dark: #cf9524;
--col-primary-darkest: #a1741c;

//secondary color shades
--col-secondary: #0E4749;
--col-secondary-lightest: #3e6c6d;
--col-secondary-light: #26595b;
--col-secondary-dark: #0d4042;
--col-secondary-darkest: #0b393a;

//tertiary color shades
--col-tertiary: #3498db;
--col-tertiary-lightest: #69b9ff;
--col-tertiary-light: #3ca4ff;
--col-tertiary-dark: #21628e;
--col-tertiary-darkest: #153e5b;

//background color shades
--col-bg: #101117
;
--col-bg-contrast-high: #282a3a;
--col-bg-contrast-mid: #202627;
--col-bg-contrast-low:#202627;
--col-bg-error: lightpink;
--col-bg-warning:lightyellow;
--col-bg-success: lightgreen;
--col-bg-message: lightskyblue;

//text color shades
--col-text: #ecf0f1;
--col-text-contrast-highest: #ecf0f1;
--col-text-contrast-high: #ecf0f1;
--col-text-contrast-low: #ecf0f1;
--col-text-contrast-lowest: #ecf0f1;
--col-text-error: darkred;
--col-text-warning: gold;
--col-text-success: green;
--col-text-message: blue;

//border color shades
--col-border: #ecf0f1;
--col-border-contrast-highest: #ecf0f1;
--col-border-contrast-high: #ecf0f1;
--col-border-contrast-low: #ecf0f1;
--col-border-contrast-lowest: #ecf0f1;

//put any possible future alternative colors to check
}
//#0E4749
//#7798AB
//#0d1b1e
//#070e0f