:root{

    //font sizes
    --font-size-heading-large: 75px;
    --font-size-heading-medium:50px;
    --font-size-heading-small:35px;
    --font-size-largest: 35px;
    --font-size-large: 25px;
    --font-size-medium: 16px;
    --font-size-small: 10px;
    --font-size-smallest: 8px;


}