input{
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: var(--font-size-medium);
    padding: 5px;
    border: var(--col-border-contrast-highest);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--col-bg);
    color: var(--col-text);
  }