html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: var(--col-bg);
  font-family: var(--font-main);
  color: var(--col-text);
}

* {
  margin-top: 0px;
}
