.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
    text-align: center;
  }
  li {
    padding: 10px 0;
    a {
      position: relative;
      display: block;
      padding: 4px 0;
      font-family: lato, sans-serif;
      color: var(--col-text);
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--col-secondary);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: var(--col-text-contrast-high);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}