BODY {
    text-align: center;
  }
  p {
    font-size: 50px;
  }
  .rules > p,
  h2,
  h3 {
    font-size: 30px;
  }
  .rules > h2,
  h3 {
    font-size: 40px;
  }
  /*
  ===============
  Large scale CSS
  ===============
  */
  .titleElement,
  .endGame {
    font-size: 50px;
  }
  .endGame {
    font-size: 50px;
    display: none;
  }
  .cards {
    margin: 15px;
    padding: 1px;
    border: 1px solid red;
  }
  .dice_results > p {
    margin: 50px;
    border-radius: 30px;
  }
  .cards > p,
  .dice_results > P {
    display: inline-block;
    padding: 30px;
    border: 1px solid black;
    margin: 30px;
  }
  .button {
    height: fit-content;
    width: fit-content;
    padding: 10px 10px;
    font-size: 50px;
    text-align: center;
    background: transparent;
  }
  .selected {
    background: green;
  }
  .closed {
    background: grey;
    pointer-events: none;
  }
  
  .hidden_on_load {
    display: none;
  }
  @media only screen and (max-width: 700px) {
    p {
      font-size: 30px;
    }
    .cards {
      margin: 15px;
      padding: 1px;
      border: 1px solid red;
      width: fit-content;
    }
    .dice_results {
      margin: 10px;
    }
    .cards > p,
    .dice_results > P {
      border: 1px solid black;
      margin: 5px;
    }
  }
  